#gameView {
    position: absolute;
    left:30%;
    top:90px;
}

#body {
    background: #dff2dc;
}

#count {
    position: absolute;
    left:30%;
    font-weight: bold;
    font-size: 20px;
}

#best {
    position: absolute;
    left:52%;
    font-weight: bold;
    font-size: 20px;
}

#btn_reload{
    position: absolute;
    left:43%;
    top:2%;
}

#bg{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#show{
    display: none;
    position: absolute;
    top: 30%;
    left: 36%;
    width: 300px;
    height: 180px;
    padding: 8px;
    border: 2px solid #E8E9F7;
    background-color: #fff768;
    opacity: 0.8;
    text-align: center;
    white; z-index:1002;
}

#caution {
    color: #FF0000;
    font-size: 30px;
    font-weight: bolder;
}

#link {
    position: absolute;
    left:32%;
    top: 650px;
    text-decoration: none;
}

/* This css button was generated by css-button-generator.com */
.css_btn_class {
    font-size:20px;
    font-family:Comic Sans MS;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #9c33ed;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
    background:-ms-linear-gradient( top, #a53df6 5%, #7c16cb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #a53df6), color-stop(100%, #7c16cb) );
    background-color:#a53df6;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #7d15cd;
    -webkit-box-shadow:inset 1px 1px 0px 0px #d197fe;
    -moz-box-shadow:inset 1px 1px 0px 0px #d197fe;
    box-shadow:inset 1px 1px 0px 0px #d197fe;
}.css_btn_class:hover {
     background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
     background:-ms-linear-gradient( top, #7c16cb 5%, #a53df6 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #7c16cb), color-stop(100%, #a53df6) );
     background-color:#7c16cb;
 }.css_btn_class:active {
      position:relative;
      top:1px;
  }

.css_btn_reroll {
    font-size:20px;
    font-family:Comic Sans MS;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #d83526;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
    background-color:#fe1a00;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #b23e35;
    -webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
    -moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
    box-shadow:inset 1px 1px 0px 0px #f29c93;
}.css_btn_reroll:hover {
     background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
     background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
     background-color:#ce0100;
 }.css_btn_reroll:active {
      position:relative;
      top:1px;
  }
/* This css button was generated by css-button-generator.com */
