#gameView {
    position: absolute;
    left:400px;
    top:90px;
}

#count {
    position: absolute;
    left:500px;
    font-weight: bold;
    font-size: 30px;
}

#bg{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#show{
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 20%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: #fffd1a;
    text-align: center;
    white; z-index:1002;
    overflow: auto;
}

#caution {
    color: #FF0000;
    font-size: 30px;
    font-weight: bolder;
}

#link {
    position: absolute;
    left:440px;
    bottom: 100px;
    text-decoration: none;
}